each result in results
  article
    header 
      h1 #{result.title}
      br
      p #{result.date_source_author}
      br
      a(href=result.link) #{result.link}
    each c in JSON.parse(result.content)
      p #{c}
      br
